# ==============================================================================
# CẤU HÌNH BIẾN MÔI TRƯỜNG (ENVIRONMENT VARIABLES) CHO MISMS
# ==============================================================================

# 1. Cổng lắng nghe của máy chủ Backend (Mặc định: 5000)
PORT=4000

# 2. Môi trường triển khai (production hoặc development)
NODE_ENV=production

# 3. Khóa bí mật ký Token JWT xác thực phiên đăng nhập Admin (BẮT BUỘC ĐỔI KHI DEPLOY PRODUCTION)
JWT_SECRET= Tự thêm khóa vào

# 4. Thời hạn phiên đăng nhập Admin (Ví dụ: 24h, 7d, 12h)
JWT_EXPIRES_IN=24h
